* { box-sizing: border-box; }

html, body {
  height: 100%;
}

body {
  cursor:crosshair;
  background-color: #0033cc;
}

h1 {
  background-color: red;
  text-align: center;
}


 .circle {
  width:100px;
  height:100px;
  background:red;
  border-radius:50px;
  margin-top: -1000px;
  animation: cae-circulo 5s steps(10) infinite;
  }




  .circle2 {
   width:100px;
   height:100px;
   background:green;
   border-radius:50px;
   float: right;
   margin-top: -1000px;
   top: -115px;
   /*animation: cae-circulo 15s steps(5) infinite;*/
   }


   @keyframes cae-circulo {
     100% { margin-top: 500px; } infinite forwards;
   }
